* {
  padding: 0;
  margin: 0;
}

html{
    height: 100%;
    width: 100%;
}

body {
  background-color: #FFFFFF;
  background-image: url("./pp4.png"), url("./centerPartv3.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form2{
    padding-top: 10px;
}

.centerPart{
  background-color: #CCCCCCCC;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
}